.hero{
    margin-top:8vh;
    display: flex;
    margin-bottom: 1vh;
    
}

.left-hero{
    width:50%;
    display:flex;
    flex-direction: column;
    /* border: 2px red solid; */
    padding: 10vw;
    position: relative;
    height: 100%; 
 
  }
  
.right-hero{
    padding: 6vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

  .background-video {
    position: absolute;
    right: 4;
    top: 0;

    width: 120%;
    height: auto;
    z-index: -100; 
    background-size: cover;
  }
  
  .left-hero h1,
  .left-hero p {
    position: relative;
    z-index: 1; 
  }
/* Hide video on mobile sizes and show image */
@media screen and (max-width: 992px) {
    .background-video.desktop-only {
      display: none;
    }
    .mobile-only {
    width:200px;
      height: auto; /* Maintain the aspect ratio of the image */
    }
    .hero{
        margin-top:8vh;
        display: flex;
        flex-direction: column;
        /* border: 2px solid gray; */
        margin-bottom: 2vh;
        justify-content: center;
    }

    .left-hero {
        display: flex;
        justify-content: center;
    }
  }
  
  /* Hide image on desktop sizes and show video */
  @media screen and (min-width: 993px) {
    .background-video.desktop-only {
      display: block;
    }
    .mobile-only {
      display: none;
    }

  }
  

