.logo {
    font-family: playfair-display, serif;
    font-weight: 900;
    /* border: 2px solid red; */
    text-align: center;
    /* margin-top: 3vh; */
    
  }

  .penlogo {
    margin-right: .5vw;
    width: 35px; 
    height: 35px; 
    /* margin-top: 2vh; */
   /* border: 2px solid red; */
  }
  
  
  .bg-body-tertiary {
    z-index: 10 !important;
    background-color: white !important;
    border-bottom: gray 1px solid;
  }
  
  /* Universal styles for navbar links */
  .nav-link {
    padding-top: 3vw;
    
  }
  
  /* Styles for desktop screens */
  @media (min-width: 992px) {
    .dropdown-menu {
      margin-top: 1.4vh !important;
      border-radius: 0px !important;
      background-color: white;
      border: 1px solid gray;
  
      width: 200rem !important;
      flex-direction: column;
      padding: 0;
      margin-right: 20rem !important;
    
    }
  

    .logo {
    font-family: playfair-display, serif;
    font-weight: 900;
    /* border: 2px solid red; */
    text-align: center;
    margin-top: 3vh;
    
  }

  .penlogo {
    margin-right: .5vw;
    width: 35px; 
    height: 35px; 
    margin-top: 2vh;
   /* border: 2px solid red; */
  }
    #basic-nav-dropdown {
      font-weight: 600;
      /* display: flex ;
      justify-content: center;
      align-items: center; */
      margin-bottom: 1vh !important;
      width:20em;
      
      /* border: 2px red solid; */
      
    }
  
    .nav-link.dropdown-toggle {
      color: black;
    }
  
    /* Styles for dropdown items */
    .dropdown-item {
      padding: 4vh;
    }
  
    .bordered-link {
      border: 2px solid gray;
      padding: .7vw 1.5vw!important;
      margin: 0 1vh;
      border-radius: 30px;
      transition: all 0.3s ease;
    }
  
    .bordered-link:hover {
      font-weight: 600;
      background-color: #f8f9fa;
      color: #000;
    }

    .top{
        padding-top: 2vh;
    }
  }
  
  /* Margin for the dropdown arrow */
  .navbar .dropdown-toggle::after {
    margin-left: 1vw;
  }
  
  /* Styles for mobile screens */
  @media screen and (max-width: 992px) {
    .dropdown-item {
      background-color: #ececec;
      color: #333;
      border-bottom: 1px solid #ddd;
    }
  
    .dropdown-item:last-child {
      border-bottom: none;
    }
  
    .bordered-link {
      border: none;
      padding: 2vw 1.5vw!important;
      margin: 0 1vh;
      border-radius: 30px;
      transition: all 0.3s ease;
    }
  
    .bordered-link:hover {
      font-weight: 600;
      background-color: #f8f9fa;
      color: #000;
    }
    
    .navbar-toggler {
      outline: none;
      border: none;
    }

    .navbar-toggler:focus {
        outline: none!important;
        border: none !important;
        color:white
      }

      .nav-link {
        font-size: 1.2rem;
        padding: 1.3rem ;
      }
      
    
  }
  
