/* Media query for mobile devices */
@media screen and (max-width: 992px) {
    .navbar-collapse {
      position: absolute;
      top: 56px; /* Adjust based on the height of your Navbar */
      right: 0;
      left: 0;
      z-index: 1000; /* Ensure dropdown is on top of other content */
      background-color: rgb(245, 245, 245); /* Background color for dropdown menu, change as needed */
    }
  }


.logo{
    font-family: playfair-display, serif;
    font-weight: 900;
    
  }


  /* background of nav bar */
.bg-body-tertiary{
    z-index: 10 !important;
    background-color: white !important;
    border-bottom:  gray 2px solid;
}


/* Styles that will only apply to desktop screens (above 992px in width) */
@media (min-width: 992px) {
    .dropdown-menu {
    margin-top: 1.4vh !important;
    border-radius: 0px !important;
    background-color: white;
    border: 1px solid gray; 
    width: 200rem !important;
    flex-direction: column;
    padding: 0;
    margin:0;
    }
  
    #basic-nav-dropdown {
        font-weight: 600;
    }
 
    .nav-link.dropdown-toggle {
        margin-left: 1vw; 
    }
  
    /* Styles for dropdown items */
    .dropdown-item {

    padding:4vh;
    padding-top:4vh ;
    }
  }

/*Creates a margin for the drop down arrow and text*/
  .navbar .dropdown-toggle::after {
    margin-left: 1vw; 
  }



/*Sign Up and Login Buttons*/

  .bordered-link {
    border: 2px solid gray; 
    padding: .7vw 1.5vw!important; 
    margin: 0 1vh ;
    border-radius: 30px;
    transition: all 0.3s ease; 
  }
  
  .bordered-link:hover {
    font-weight: 600;
    background-color: #f8f9fa; /* Example: change background on hover */
    color: #000; /* Example: change text color on hover */
  }
  